.box1 {
  float: left;
  width: 33.333%;
  box-sizing: border-box;
  background-color:#dfa9a6
}

.box {
  background-image: url("images/whiteday.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 768px) {
  .box {
    height: 250px;
    width:100%;
  }
}

.container {
  display: flex;
  flex-direction: row
}
.box1 {
  margin: 10px;
  flex: 1;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .box1 {
    width:90%;
    margin: 10px auto;
    position: center;
  }
}

.box0 { 
    text-align: center; 
}

.box1 { 
    text-align: center; 
}

.box2 { 
    text-align: center; 
}

@media (max-width: 768px) {
  .sample {
    width: 100%;
    position: center;
    text-align:center;
    } }


.button, { 
    text-align: center; 
}

.sample {
    width:33.333%;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    color:#333;
    border-radius:5px;
    margin: 0 auto;
    background-color:#dfa9a6
}

.sample0, .sample1 {
  font-weight:bold;
  font-size: 24px;
}